* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

.about-section {
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.about-section .about-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about-content h2 {
  color: rgba(96, 165, 250, 0.8);
  font-size: 35px;
}

.about-content .sub-title {
  color: #f5ecec;
  font-size: 20px;
  text-align: center;
}

.about-section .about-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.about-layout .about-card,
.education-card {
  background-color: #fff7f721;
  /* border: 1px solid rgba(255, 255, 255, 0.178); */
  border-radius: 12px;
  padding: 20px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
  width: 600px;
}

.about-card .card-title-container {
  display: flex;
  gap: 10px;
}

.education-card .card-title-container {
  display: flex;
  gap: 10px;
}

.card-title-container img {
  height: 30px;
  width: 30px;
}

.card-title-container i {
  font-size: 23px;
  /* color: #282020; */
  color: #60a5fa;
  margin-top: 3px;
}

.card-title-container .title {
  color: rgba(215, 223, 226, 0.979);
}

.education-card .year {
  color: #ffffff77;
}

.about-card .description {
  color: #f5ecec;
}

.education-card .description {
  color: #f5ecec;
}
.about-card .description span {
  font-weight: bold;
  color: #ffffff77;
}

#img-1,
#img-2 {
  height: 25px;
  width: 25px;
}

.card-first-section,
.card-second-section {
  margin-left: 40px;
}

@media (max-width: 700px) {
  .about-section {
    padding: 100px 10px;
    gap: 50px;
  }

  .about-section .about-content {
    max-width: 500px;
  }

  .about-content h2 {
    font-size: 30px;
  }

  .about-content .sub-title {
    font-size: 16px;
  }

  .about-layout .about-card,
  .education-card {
    width: 300px;
  }

  .card-title-container img {
    margin-top: 12px;
  }

  .card-title-container i {
    margin-top: 12px;
  }
}
