* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(23, 23, 23, 0.9);
  font-family: "Poppins", sans-serif;
}

.contact-section {
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.contact-section .contact-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-section h2 {
  font-size: 35px;
  color: #00ffff;
}

.contact-section .contact-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.contact-form {
  width: 600px; 
  background-color: #fff7f717;
  padding: 30px;
  border-radius: 15px;
}

.contact-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  /* align-items: center; */
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #11111144;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #f5ecec;
}

.contact-form button {
  padding: 12px;
  border: none;
  background-color: rgba(96, 165, 250, 0.8);
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
  background-color: #ebe1e156;
}

@media (max-width: 700px) {
  .contact-section {
  padding: 120px 10px;
  flex-direction: row;
  gap: 40px;
}

.contact-section .contact-content {
  max-width: 400px;
}

.contact-section h2 {
  font-size: 30px;
}

.contact-section .contact-subtitle {
  font-size: 16px;
}

.contact-form {
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  font-size: 16px;
}


}
