* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

.contact-section {
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /* width: 100%; */
}

.contact-section .contact-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-section .contact-content-title {
  font-size: 35px;
  color: #00ffff;
}

.contact-section .contact-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.contact-section .contact-content-02 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 120px;
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  gap: 20px;
}

.card-title-container .logo {
  font-size: 20px;
  color: #f5ecec;
  background-color: #60a5fa;
  padding: 0.75rem;
  border-radius: 1rem;
}

.contact-title {
  color: rgba(215, 223, 226, 0.979);
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
  width: 500px;
  background-color: #fff7f717;
  /* border: 1px solid rgba(255, 255, 255, 0.178); */
  padding: 30px;
  border-radius: 15px;
}

.label {
  color: #f0e8e8;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #817a7a2c;
  color: #f5ecec;
  font-size: 1rem;
  width: 100%;
  margin-top: 4px;
}

textarea {
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ffffff77;
}

.contact-form button {
  padding: 12px;
  border: none;
  background-color: rgba(96, 165, 250, 0.8);
  color: rgb(241, 236, 236);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
  background-color: #ebe1e156;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 60px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

.sub-info {
  width: 500px;
  background-color: #fff7f717;
  /* border: 1px solid rgba(255, 255, 255, 0.178); */
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

.sub-info:hover {
  background-color: #e1dede29;
}

.animated-card {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sub-info i {
  font-size: 20px;
  margin-top: 15px;
  /* color: #ffffff77; */
  color: rgba(96, 165, 250, 0.8);
}

.least-info p {
  color: #f5ecec;
}

.least-info a {
  color: cadetblue;
  text-decoration: none;
}

.least-info #Location-para {
  color: cadetblue;
}

.least-info a:hover {
  color: blue;
}

.animated-title {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.social-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  animation: fadeup both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.social-info .social-subinfo {
  width: 250px;
  background-color: #fff7f717;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 4px;
  text-decoration: none;
  color: #f5ecec;
}

.social-info .social-subinfo:hover {
  background-color: #e1dede29;
}

.social-subinfo i {
  font-size: 30px;
}

.social-subinfo #social-icons-01 {
  color: #6e5494;
}

.social-subinfo #social-icons-02 {
  color: #000000;
}

.social-subinfo #social-icons-03 {
  color: #47257a;
}

.social-subinfo #social-icons-04 {
  color: #851a6a;
}

.social-subinfo h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.social-subinfo p {
  color: cadetblue;
  margin-left: 5px;
}

.toast-container {
  background-color: #212529;
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 999;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.toast {
  /* padding: 5px 0; */
  width: 100%;
}

.toast-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.toast-header-content {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.toast-header i {
  color: darkslategray;
}

.toast-title {
  color: rgba(222, 226, 230, 0.75);
  font-weight: bold;
}

.toast-time {
  color: rgba(222, 226, 230, 0.75);
}

.btn-close {
  font-size: 20px;
  cursor: pointer;
}

.toast-body {
  padding: 10px;
  margin-left: 2px;
  color: #f5ecec;
}

@media (max-width: 420px) {
  .contact-section {
    padding: 120px 10px;
    flex-direction: row;
    gap: 40px;
  }

  .contact-section .contact-content {
    width: 350px;
  }

  .contact-section .contact-content-title {
    font-size: 30px;
  }

  .contact-section .contact-subtitle {
    font-size: 16px;
  }

  .contact-section .contact-content-02 {
    justify-content: center;
  }

  .contact-form-container {
    width: 320px;
    padding: 20px;
  }

  .contact-title {
    font-size: 22px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 328px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    animation: none;
  }

  .social-info .social-subinfo {
    width: 320px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .toast-container {
    right: 3%;
    width: 300px;
  }
}

@media (min-width: 421px) and (max-width: 520px) {
  .contact-section {
    padding: 120px 10px;
    flex-direction: row;
    gap: 40px;
  }

  .contact-section .contact-content {
    max-width: 420px;
  }

  .contact-section .contact-content-title {
    font-size: 30px;
  }

  .contact-section .contact-subtitle {
    font-size: 16px;
  }

  .contact-section .contact-content-02 {
    justify-content: center;
  }

  .contact-form-container {
    width: 370px;
    padding: 20px;
  }

  .contact-title {
    font-size: 22px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 370px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    animation: none;
  }

  .social-info .social-subinfo {
    width: 370px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .toast-container {
    right: 3%;
  }
}

@media (min-width: 521px) and (max-width: 620px) {
  .contact-section {
    padding: 120px 10px;
    flex-direction: row;
    gap: 40px;
  }

  .contact-section .contact-content {
    max-width: 450px;
  }

  .contact-section .contact-content-title {
    font-size: 30px;
  }

  .contact-section .contact-subtitle {
    font-size: 16px;
  }

  .contact-section .contact-content-02 {
    justify-content: center;
  }

  .contact-form-container {
    padding: 20px;
    width: 500px;
  }

  .contact-title {
    font-size: 24px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 450px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    animation: none;
  }

  .social-info .social-subinfo {
    width: 450px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .toast-container {
    right: 3%;
  }
}

@media (min-width: 621px) and (max-width: 700px) {
  .contact-section {
    padding: 120px 10px;
    flex-direction: row;
    gap: 40px;
  }

  .contact-section .contact-content {
    max-width: 400px;
  }

  .contact-section .contact-content-title {
    font-size: 30px;
  }

  .contact-section .contact-subtitle {
    font-size: 16px;
  }

  .contact-section .contact-content-02 {
    justify-content: center;
  }

  .contact-form-container {
    width: 500px;
    padding: 20px;
  }

  .contact-title {
    font-size: 24px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 500px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
  }

  .social-info .social-subinfo {
    width: 250px;
    padding: 20px;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .toast-container {
    right: 3%;
  }
}

@media (min-width: 701px) and (max-width: 750px) {
  .contact-section {
    padding: 60px 10px;
    flex-direction: row;
    gap: 40px;
  }

  .contact-section .contact-content {
    max-width: 400px;
  }

  .contact-section .contact-content-title {
    font-size: 30px;
  }

  .contact-section .contact-subtitle {
    font-size: 16px;
  }

  .contact-section .contact-content-02 {
    justify-content: center;
  }

  .contact-form-container {
    width: 500px;
    padding: 20px;
  }

  .contact-title {
    font-size: 24px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 500px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
  }

  .social-info .social-subinfo {
    width: 250px;
    padding: 20px;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .toast-container {
    right: 3%;
  }
}

@media (min-width: 751px) and (max-width: 880px) {
  .contact-form-container {
    width: 500px;
  }

  .info-container {
    align-items: center;
  }

  .sub-info {
    width: 500px;
    padding: 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .social-info {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
  }

  .social-info .social-subinfo {
    width: 250px;
    padding: 20px;
  }

  .animated-title-02 {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}
