* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.education-section {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.education-section .education-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-title {
  font-size: 35px;
  color: rgba(131, 154, 230, 0.979);
}

.education-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.education-card {
  background-color: #fff7f71e;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Soft border */
  border-radius: 12px;
  padding: 20px;
  cursor: default;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.education-card:hover {
  transform: translateY(-5px);
}

.education-card .card-title-container {
  display: flex;
  gap: 10px;
}

.education-card img {
  height: 30px;
  width: 30px;
}

.education-card p {
  margin-left: 40px;
}

.degree {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(215, 223, 226, 0.979);
}

.year {
  color: #ffffff77;
  font-weight: 500;
}

.institute {
  color: #f5ecec;
  margin: 8px 0;
}

@media (max-width: 700px) {
  .education-section {
    padding: 100px 10px;
    gap: 50px;
  }

  .education-section .education-content {
    gap: 10px;
  }

  .section-title {
    font-size: 30px;
  }

  .education-subtitle {
    font-size: 18px;
  }

  .education-card {
    padding: 15px;
  }
}
