* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.project-section {
  padding: 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.project-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-section h2 {
  font-size: 35px;
  color: #00ffff;
}

.project-section .project-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.project-section .project-layout {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.project-layout .project-card {
  background-color: #fff7f71e;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: default;
  width: 300px;
  height: 430px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.project-layout .project-card:hover {
  transform: scale(1.1);
}

.project-card .card-image {
  height: 200px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-card .card-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.card-content .card-title-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-content .card-title {
  color: #f5ecec;
  font-size: 20px;
}

.card-content .card-description {
  color: #ffffff77;
  font-size: 14px;
}

.card-content .card-skills {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  gap: 8px;
}

.card-skills span {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: rgba(38, 38, 38, 0.8);
  padding: 8px;
  border: 1px solid gray;
  border-radius: 20px;
}

.card-skills span img {
  height: 18px;
  width: 18px;
}

.card-skills span p {
  font-size: 12px;
}

@media (max-width: 700px) {
  .project-section {
    padding: 120px 10px;
  }

  .project-content {
    gap: 15px;
  }

  .project-section h2 {
    font-size: 30px;
  }

  .project-section .project-subtitle {
    font-size: 16px;
  }

  .project-layout .project-card:hover {
    transform: scale(1);
  }

  .project-card .card-content {
    padding: 20px;
    gap: 10px;
  }

  .card-content .card-title {
    font-size: 20px;
  }

  .card-content .card-description {
    font-size: 14px;
  }

  .card-content .card-skills {
    padding-left: 10px;
    gap: 8px;
  }

  .card-skills span {
    gap: 4px;
    padding: 8px;
  }

  .card-skills span img {
    height: 18px;
    width: 18px;
  }

  .card-skills span p {
    font-size: 12px;
  }
}
