* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.project-section {
  padding: 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.project-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-section h2 {
  font-size: 35px;
  color: #00ffff;
}

.project-section .project-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.project-section .project-layout {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.project-layout .project-card {
  padding: 20px;
  /* background-color: #fff7f71e; */
  background-color: #fff7f715;
  /* border: 1px solid rgba(255, 255, 255, 0.178);  */
  border-radius: 20px;
  cursor: default;
  height: 400px;
  width: 400px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  animation: card-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}

@keyframes card-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-layout .project-card:hover {
  transform: scale(1.1);
}

.project-card .card-image {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.project-card .card-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.card-content .card-title-container {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-content .card-title {
  color: #f5ecec;
  font-size: 20px;
}

.card-content .card-description {
  color: #ffffff77;
  font-size: 14px;
}

.card-content .card-skills {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  gap: 8px;
}

.card-skills span {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: rgba(38, 38, 38, 0.8);
  padding: 8px;
  border: 1px solid #ffffff0d;
  border-radius: 8px;
}

.card-skills span img {
  height: 18px;
  width: 18px;
}

.card-skills span p {
  font-size: 12px;
}

.skeleton-content{
  height: 200px;
  width: 100%;
}

.project-card.is-loading  .real-content,
.project-card:not(.is-loading) .skeleton-content{
  display: none;
}


.project-card:not(.is-loading) .real-content{
  display: block;
  animation: fadein 0.5s ease-in;
}

@keyframes fadein {
  from {
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}

.skeleton-image {
  height: 100%;
  width: 100%;
}

.skeleton {
  background: linear-gradient(110deg, #797171 8%, #cec1c1 18%, #797171 20%);
  border-radius: 6px;
  animation: shine 1.5s linear infinite;
  background-size: 200% 100%;
}

@keyframes shine {
  to{
    background-position-x: -200%;
  }
}

@media (max-width: 700px) {
  .project-section {
    padding: 120px 10px;
  }

  .project-content {
    gap: 15px;
  }

  .project-section h2 {
    font-size: 30px;
  }

  .project-section .project-subtitle {
    font-size: 16px;
  }

  .project-layout .project-card:nth-child(5) {
  height: 445px;
  }

  .project-layout .project-card:hover {
    transform: scale(1);
  }

  .project-card .card-content {
    gap: 10px;
  }

  .card-content .card-title {
    font-size: 20px;
  }

  .card-content .card-description {
    font-size: 14px;
  }

  .card-content .card-skills {
    padding-left: 10px;
    gap: 8px;
  }

  .card-skills span {
    gap: 4px;
    padding: 8px;
  }

  .card-skills span img {
    height: 18px;
    width: 18px;
  }

  .card-skills span p {
    font-size: 12px;
  }
}