* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

.skills-section {
  padding: 70px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skills-section h2 {
  font-size: 35px;
  color: #f5ecec; /* Soft Orange */
}

.skills-section h2 span {
  color: rgba(96, 165, 250, 0.8);
  font-size: 35px;
}

.skills-subtitle {
  font-size: 20px;
  color: #f5ecec;
  text-align: center;
}

.skills-section .skill-navi-container {
  /* background-color: #0c0c0c; */
  background-color: #3d393938;
  width: 415px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 2px;
  margin-top: 10px;
}

.skill-navi-container .btn {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #f3eeee;
}

.button:hover {
  background-color: #ffffff18;
}

.btn.active {
  background-color: rgba(96, 165, 250, 0.8);
}

.skills-layout {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 1000px;
  gap: 20px;
}

.frontend-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

.tools-and-services {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

.ai-integration {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 20px;
}

.skill-card {
  background-color: #fff7f721;
  /* border: 1px solid rgba(255, 255, 255, 0.178);  */
  height: 140px;
  width: 270px;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.skill-card .card-container {
  display: flex;
}

.card-container .card-img {
  height: 40px;
  width: 40px;
}
.card-container .card-title-container {
  margin-left: 8px;
}

.card-title-container #card-title {
  color: rgba(215, 223, 226, 0.979);
  font-size: 18px;
}

.card-title-container #card-subtitle {
  color: #ffffff77;
  font-size: 12px;
}

.skill-card .expertise {
  display: flex;
  gap: 120px;
}

.expertise #expertise-para {
  color: #ffffff77;
}

.expertise #expertise-span {
  color: rgba(96, 165, 250, 0.8);
}

@media (max-width: 700px) {
  .skills-section {
    padding: 100px 10px;
  }

  .skill-content {
    max-width: 600px;
    gap: 20px;
  }

  .skills-section h2 {
    font-size: 30px;
  }

  .skills-subtitle {
    font-size: 16px;
  }

  .skills-section .skill-navi-container {
    width: 340px;
    justify-content: stretch;
    gap: 20px;
    padding: 2px;
    margin-top: 0;
  }

  .skill-navi-container .btn {
    font-size: 12px;
    padding: 10px;
  }

  .skills-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 1000px;
    gap: 20px;
  }

  .skill-card {
    background-color: #fff7f721;
    height: 140px;
    width: 270px;
    padding: 20px;
    border-radius: 12px;
  }

  .animated-card {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes text-appear {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
