* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Body Background Color */
  --body-bg-color: rgba(23, 23, 23, 0.9);

  /* Header Background Color */
  --header-bg-color: rgba(23, 23, 23, 0.5);
  --header-bg-color-mb: rgba(23, 23, 23, 1);

  /* Text Colors */
  --text-primary-color: #f5ecec;
  --text-secondary-color: rgba(215, 223, 226, 0.979);

  /* Navbar Links Color */
  --nav-link-color: #cfc8c8;
  --nav-link-hover-color: #ffffff3f;

  /* Content Color */
  --content-title-color: rgba(44, 40, 40, 0.9);
  --dynamic-content-color: rgb(186, 208, 209);
  --content-para-color: #ccc;
  --content-social-color: rgb(160, 177, 179);

  /* Box Shadow Color */

  --box-shadow-color: rgba(96, 165, 250, 0.8);
  /* --box-shadow-color: #f5ecec; */

  /* Button Background color */
  --button-background-color: #ebe1e183;
  --button-hover-color: #ebe1e156;

  /* Spacing Variables */
  --space-xs: 2px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 6px;
  --space-xl: 40px;
  --space-2xl: 50px;
  --space-3xl: 60px;

  /* Font Sizing */
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-lg2: 25px;
  --font-xl: 30px;
  --font-2xl: 50px;
  --font-3xl: 60px;

  /* Border Radius Sizing */
  --border-radius-xs: 4px;
  --border-radius-sm: 10px;
  --border-radius-md: 15px;
  --border-radius-lg: 24px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--body-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--header-bg-color); */
  width: 100%;
  padding: var(--space-md);
}

.header #logo {
  display: flex;
  gap: var(--space-xs);
  padding-left: var(--space-xl);
}

.header .logo-img {
  height: 50px;
  width: 50px;
  margin-top: 6px;
}

.header .title-container {
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
}

#title {
  color: var(--text-secondary-color);
  font-size: var(--font-lg);
}
#sub-title {
  color: #ffffff77;
  font-size: var(--font-xs);
}

.header .links {
  display: flex;
  gap: var(--space-sm);
  margin: 2px 50px;
}

.header .links a {
  text-decoration: none;
  font-size: var(--font-sm);
  border-radius: var(--border-radius-sm);
  padding: var(--space-sm);
  color: var(--nav-link-color);
}

.header .links a:hover {
  background-color: var(--nav-link-hover-color);
  transition: 0.6s;
}

.header .links a i {
  color: #ffffff77;
}

.header .menu-icon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--header-bg-color-mb);
  padding: 10px;
  z-index: 999;
  transform: translateX(-100%); /* hide from left */
  transition: transform 0.5s ease;
}

.mobile-menu.active {
  transform: translateX(0);
}

.section {
  padding: 100px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 250px;
  flex-wrap: wrap;
}

.section .content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--space-md);
}

.section .content #content-title {
  background-color: var(--content-title-color);
  width: 190px;
  text-align: center;
  padding: var(--space-sm);
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 1px 14px 3px var(--box-shadow-color);
}

.section .content h1 {
  font-size: var(--font-2xl);
  color: var(--text-primary-color);
}

.section .content h2 {
  font-size: var(--font-xl);
  color: var(--text-primary-color);
}

.section .content span {
  /* color: var(--dynamic-content-color); */
  color: rgba(96, 165, 250, 0.8);
}

.section .content p {
  color: var(--content-para-color);
  line-height: 1.7;
  font-size: var(--font-sm);
}

#typing-text {
  border-right: 3px solid var(--dynamic-content-color);
  animation: blink 0.9s step-end infinite;
}

.section .content .socialmedia-icon {
  font-size: var(--font-md);
  display: flex;
  gap: var(--space-sm);
}

.section .content .socialmedia-icon a {
  color: var(--content-social-color);
  border-radius: 10px;
  font-size: var(--font-lg2);
  padding: var(--space-lg);
  transition: transform 0.3s;
}

.socialmedia-icon a:hover {
  background-color: #ffffff13;
}

.section .content #button-container {
  display: flex;
  gap: var(--space-md);
}

.section .content .btn {
  color: var(--text-primary-color);
  /* background-color: var(--button-background-color); */
  background-color: rgba(96, 165, 250, 0.8);
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius-md);
  padding: 12px 24px;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s;
}

.btn i {
  margin: auto;
}

.section .content .btn:active {
  transform: scale(0.87);
}

.section .content .btn:hover {
  background-color: var(--button-hover-color);
}

.section .content .btn a {
  text-decoration: none;
}

.section .content-image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0px 1px 14px 3px var(--box-shadow-color);
  text-align: center;
}

.section img {
  height: 350px;
  width: 350px;
}

@keyframes blink {
  0%,
  49% {
    border-color: cadetblue;
  }
  50%,
  100% {
    border-color: transparent;
  }
}

@media (max-width: 700px) {
  .header {
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header #logo {
    gap: 10px;
    padding-left: 10px;
  }

  .header .logo-img {
    height: 50px;
    width: 50px;
  }

  .header .title-container {
    display: none;
  }

  .header .links {
    display: none;
  }

  .header .menu-icon {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    color: var(--text-secondary-color);
    margin-top: 6px;
  }

  #mobile-logo-container {
    display: flex;
    justify-content: space-between;
  }

  .close-icon {
    cursor: pointer;
    color: cadetblue;
    background-color: #ffffff2f;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    border: none;
    font-size: 20px;
    margin-top: 6px;
    display: block;
  }

  .mobile-menu .mobile-logo {
    margin: 4px 40px;
    color: rgba(215, 223, 226, 0.979);
    font-weight: bold;
    text-decoration: none;
  }

  .mobile-menu .mobile-logo .logo-img {
    height: 40px;
    width: 40px;
    position: fixed;
    left: 8px;
    top: 11px;
  }

  .mobile-menu .mobile-logo #title-container {
    width: 142px;
  }

  .mobile-menu .mobile-logo #title {
    font-size: 14px;
  }

  .mobile-menu .mobile-logo #sub-title {
    font-size: 11px;
  }

  .mobile-nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .mobile-nav a {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-primary-color);
    background-color: #ffffff49;
    /* background-color: #ffffff65; */
    border: none;
    border-radius: 10px;
    padding: 20px;
  }

  .mobile-nav a i {
    color: #ffffff7c;
  }

  .section {
    padding: 130px 10px;
  }

  .section .content {
    align-items: start;
    padding: 15px;
  }

  .section .content #content-title {
    width: 190px;
  }

  .section .content h1 {
    font-size: 30px;
  }

  .section .content h2 {
    font-size: 22px;
  }

  .section .content p {
    text-align: left;
  }

  .section .content #button-container {
    gap: 25px;
  }

  .section .content .btn {
    font-size: 14px;
  }

  .section .content-image {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 850px) {
  .header {
    padding: 20px;
  }

  .header #logo {
    padding-left: 20px;
  }

  /* .header .logo-img {
    height: 50px;
    width: 50px;
  } */

  .header .title-container {
    display: none;
  }

  .header .links {
    gap: 10px;
    margin: 2px 20px;
  }

  .header .links a span {
    display: none;
  }

  .header .links a i {
    font-size: 22px;
  }

  .section .content-image {
    display: none;
  }
}

@media (min-width: 851px) and (max-width: 1050px) {
  .header {
    padding: 20px;
  }

  .header #logo {
    padding-left: 20px;
  }

  .header .logo-img {
    height: 60px;
    width: 60px;
  }

  .header .title-container {
    display: none;
  }

  .header .links {
    gap: 10px;
    margin: 2px 20px;
  }

  .header .links a span {
    display: none;
  }

  .header .links a i {
    font-size: 25px;
  }

  .section .content-image {
    display: none;
  }
}

@media (min-width: 1051px) and (max-width: 1092px) {
  .header #logo {
    padding-left: 20px;
  }

  #title {
    font-size: 18px;
  }
  #sub-title {
    font-size: 14px;
  }

  .header .links {
    margin: 2px 20px;
  }

  .section {
    padding: 100px 20px;
    gap: 150px;
  }

  .section .content {
    max-width: 500px;
  }

  .section .content h1 {
    font-size: 40px;
  }

  .section .content h2 {
    font-size: 25px;
  }

  .section .content-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 1px 14px 3px var(--box-shadow-color);
    text-align: center;
  }

  .section img {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1093px) and (max-width: 1270px) {
  .section {
    padding: 100px 20px;
    gap: 150px;
  }

  .section .content {
    max-width: 500px;
  }

  .section .content h1 {
    font-size: 40px;
  }

  .section .content h2 {
    font-size: 25px;
  }

  .section .content-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 1px 14px 3px var(--box-shadow-color);
    text-align: center;
  }

  .section img {
    height: 250px;
    width: 250px;
  }
}
